<header>
  <nav class="flex justify-between bg-white items-center shadow shadow-emerald-200
              font-bold text-emerald-500">
    <div>
      <a href="#"> <img class="w-14"
                        src="https://static.vecteezy.com/system/resources/previews/020/190/945/non_2x/flower-icon-free-vector.jpg"
                        alt="..."></a>
    </div>
    <div class="pr-10">
      <ul class="flex items-centers gap-[4vw]">
        <li class="hover:underline decoration-[#eee8aa]"><a href="/blog">Blog</a></li>
        <li class="hover:underline decoration-[#eee8aa]"><a href="/about">About</a></li>
        <li class="hover:underline decoration-[#eee8aa]"  ><a href="/basket">Basket({{productService.getTotalQuantity() }})</a></li>
        <li class="hover:underline decoration-[#eee8aa]"><a href="/contact">Contact</a></li>
      </ul>
    </div>


  </nav>
</header>
